.currentWeather {
/*     border: black solid thin;
 */    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.currentWeatherTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    padding: 1rem;
}
.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(90, 88, 88);
}
.localtime {
    font-size: 1rem;
    color: rgb(158, 157, 157);
}
.changeTemp {
    color: rgb(90, 88, 88);
    font-size: .9rem;
    font-weight: 500;
    position: relative;
}
.tempIcon {
    font-size: 1.3rem;
    font-weight: 500;
}
.tempArrow {
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}
.tempBoard {
    position: absolute;
    top: 1.4rem;
    left: -.2rem;
    width: 2rem;
    height: 2.3rem;
    background-color: #e9f2f6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
    cursor: pointer;
}
.currentWeatherMid {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 2rem;
    margin-top: .5rem;
}
.currentWeatherIcon {
    width: 80px;    
}
.currentWeatherTemp{
    margin: 1rem;
    display: flex;
}